<template>
  <v-app dark>
    <v-container fluid>
      <v-layout row>
        <v-flex xs3></v-flex>
        <v-flex xs1>
          <v-btn
            v-if="!started"
            @click="newGame"
            color="primary"
          >Start</v-btn>
          <v-btn
            v-if="clear"
            @click="clearGame"
            color="error"
          >Clear</v-btn>
        </v-flex>
        <v-flex xs4>
          <v-layout row wrap>
            <v-flex
              v-for="(value, key) in squares"
              :key="key"
              xs3
            >
              <v-responsive :aspect-ratio="1/1" class="ma-1">
                <v-card
                  justify-center
                  class="block"
                  :style="value.style"
                >
                  <v-card-text style="margin-top:15%;">{{value.value}}</v-card-text>
                </v-card>
              </v-responsive>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex xs4></v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    name: '2048',
    started: false,
    clear: false,
    blocks: {
      0: { color: 'gray' },
      2: { color: '#42A5F5' },
      4: { color: '#29B6F6' },
      8: { color: '#26C6DA' },
      16: { color: '#26A69A' },
      32: { color: '#66BB6A' },
      64: { color: '#9CCC65' },
      128: { color: '#D4E157' },
      256: { color: '#FFEE58' },
      512: { color: '#FFCA28' },
      1024: { color: '#FFA726' },
      2048: { color: '#FF7043' },
    },
    arrangements: {
      37: [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]],
      38: [[1, 5, 9, 13], [2, 6, 10, 14], [3, 7, 11, 15], [4, 8, 12, 16]],
      39: [[4, 3, 2, 1], [8, 7, 6, 5], [12, 11, 10, 9], [16, 15, 14, 13]],
      40: [[13, 9, 5, 1], [14, 10, 6, 2], [15, 11, 7, 3], [16, 12, 8, 4]],
    },
    available: [],
    squares: {},
  }),
  methods: {
    newGame() {
      this.started = true;
      this.clear = true;
      this.addBlock(2);
    },
    clearGame() {
      this.started = false;
      this.clear = false;
      this.squares = Object.assign({}, {});
      this.available = [];
      for (let i = 0; i < 16; i++) {
        this.squares[i + 1] = Object.assign(
          {},
          { value: '', style: `background: ${this.blocks[0].color} !important;` },
        );
        this.available.push(i + 1);
      }
    },
    addBlock(num) {
      const mainSquares = this.squares;
      this.squares = Object.assign({}, {});
      for (let i = 0; i < num; i++) {
        if (this.available.length > 0) {
          const index = Math.floor(Math.random() * this.available.length);
          const value = 2;
          const style = `background: ${this.blocks[2].color} !important;`;
          mainSquares[this.available[index]] = { value, style };
          this.available.splice(index, 1);
        }
      }
      this.squares = mainSquares;
    },
    async compressSquares(event) {
      const order = this.arrangements[event.keyCode];
      const mainSquares = this.squares;
      const available = [];
      order.forEach((blocks) => {
        const row = blocks.filter(block => mainSquares[block].value !== '')
          .map(block => mainSquares[block].value);
        let skip = false;
        const row2 = row.map((val, i) => {
          const nextB = (row[i + 1] !== undefined) ? row[i + 1] : false;
          if (skip) {
            skip = false;
            return 0;
          } else if (nextB && val === nextB) {
            skip = true;
            return val * 2;
          } return val;
        }).filter(block => block > 0);
        blocks.forEach((block, i) => {
          const value = (row2[i] !== undefined) ? row2[i] : '';
          const style = (row2[i] !== undefined) ?
            `background: ${this.blocks[row2[i]].color} !important;` :
            `background: ${this.blocks[0].color} !important;`;
          mainSquares[block] = { value, style };
          if (row2[i] === undefined) {
            available.push(block);
          }
        });
        // return row2;
      });
      this.available = available.sort((a, b) => a - b);
      this.squares = Object.assign({}, {});
      this.squares = mainSquares;
      this.addBlock(1);
    },
  },
  created() {
    window.addEventListener('keyup', this.compressSquares);
    this.clearGame();
  },
};
</script>

<style>
.block{
  border: 1px solid black !important;
  height: 100%;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}
</style>
